body{
    background-color: rgb(255, 252, 226);
}

h1{

    background-color: burlywood;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal
}

h3{

    background-color: burlywood; width: 60%;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

}

button {
  color: black;
  text-decoration: none;
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #ffffff;
 }
 
 button > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
 }
 
 button:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
 }
 
 button:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
 }
  