body{
    background-color: rgb(255, 252, 226);
}

h1{

    background-color: burlywood;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal
}

h3{

    background-color: burlywood; width: 60%;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

}

a{
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 18px;
     background-color: rgb(255, 222, 244);
   }
  