body{
    background-color: rgb(255, 252, 226);
}

h1{

    background-color: burlywood;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal
}

h3{

    background-color: burlywood; width: 60%;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

}