body{
    background-color: rgb(255, 240, 216);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
}
.navbar{
    background-color: rgb(26, 50, 30);
    color: rgb(255, 255, 255);
}

.navbar ul{
 display: flex;
 gap: 50px;
 list-style: none;
}

header {
    position: relative;
}

header h3 {
    position: absolute;
    left: calc(30%);
    transform: translateX(-50%);
}

h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

}

h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
      
.navbar a {
    color: #fff;
    text-decoration: none;
}