h1{
    background-color: rgb(174, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; width: 30%; border-radius: 10%;
}

/* Contato.html */

.formulario-campo {
    display: flex;
    flex: 1;
    gap: 10px;
    width: 70;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;
   
}

.formulario-campo label {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
}

.formulario-campo input,
.formulario-campo select,
.formulario-campo textarea {
width: 300px;
justify-self: flex-end;
}